p{
    font-family: 'Jost';
    margin: 50px 300px;
    text-align: justify;
    font-size: 16px;
    line-height: 35px;
}

#word-1{
    color: #259702;
    text-decoration: underline;
}

#word-2{
    color: red;
    font-weight: bold;
}

#word-3{
    text-decoration-line: underline overline;
    
}
#word-4{
    font-size: 50px;
    font-weight: bold;
}

#word-5{
    color: blue;
    font-weight: bold;
}
#word-6{
    color: red;
    text-decoration: underline;
    font-weight: bold;
}